{% extends 'base.html' %} {% load static %} {% load custom_filters %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4 text-center">Latest News</h2>
    <div class="row">
        {% for item in news %}
        <div class="col-md-4 mb-4" >
            <div class="card" id="{{item.id}}">
                <img src="{{item.picture}}" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">{{item.title | title}}</h5>
                    <p class="card-text">{{item.text | truncatechars:150 }}</p>
                    
                    <span>
                    {% for tag in item.tag %}
                    
                    {% if tag.tag == "Technology" %}
                        <span class="badge bg-primary">{{tag.tag}}</span>
                    {% elif tag.tag == "Business" %}
                        <span class="badge bg-secondary">{{tag.tag}}</span>
                    {% elif tag.tag == "Sports" %}
                        <span class="badge bg-dark">{{tag.tag}}</span>
                    {% elif tag.tag == "Politics" %}
                        <span class="badge bg-warning">{{tag.tag}}</span>
                    {% elif tag.tag == "Education" %}
                        <span class="badge bg-danger">{{tag.tag}}</span>
                    {% elif tag.tag == "World" %}
                        <span class="badge bg-success">{{tag.tag}}</span>
                    {% elif tag.tag == "Entertainment" %}
                        <span class="badge bg-info">{{tag.tag}}</span>
                    {% endif %}
                        
                    {% endfor %}
                    </span>
                    
                    {% if user %}
                        <span class="heart-toggle" onclick="toggleHeart(this)">
                            <i class="fa-solid fa-heart text-danger d-none"></i>
                            <i class="fa-regular fa-heart text-dark"></i>
                        </span>
                    {% endif %}
                    
                    <script>
                        function toggleHeart(element) {
                            let solidHeart = element.querySelector('.fa-solid');
                            let regularHeart = element.querySelector('.fa-regular');
                            
                            solidHeart.classList.toggle('d-none');
                            regularHeart.classList.toggle('d-none');
                        }
                    </script>

                    </span>
                    <span>{{item.likes | length}} Likes</span>
                    <div class="d-flex justify-content-between text-muted">
                        <p class="mb-0">Views: {{item.views}}</p>
                        <span><a class="icon-link icon-link-hover" href="{% url 'news' item.id %}">
                            Read
                          </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


  
{% endblock content %}
    